
#slideout-panel {
	background-color: #fff; /* opaque content */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


/* The panel and menu ids are required by slidout.js */

#slideout-panel {
	box-sizing: border-box;
	min-height: 100%;
	padding: 10px;
	-webkit-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-khtml-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-moz-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-ms-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-o-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);	
}

#slideout-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 86px;
}

#slideout-inner {
	position: absolute;
	overflow-y: auto;
	top: 86px;
	bottom: 0;
	left:0;
	right: 0;
}

#slideout-menu {
	background-color: #555;
	color: #eee;																					
}

#slideout-menu nav > ul {
	list-style: none;
}

#slideout-menu nav > ul li {
	/*color: #eee;*/
	padding: 0.5em 1em 0.5em 1em;
	font-size: 14pt;
	cursor: pointer;
}

#slideout-menu nav > ul li:hover {
	color: #fff;
	background-color: #666;
}
