
/* 	variables
	__________________________________________________________*/

// https://coolors.co/28271f-e2e1e0-4c6477-d67e7e-f9f9e8

$inactive: 			#bbbbbb;

$main-background:	#E2E1E0;
$main-color:		#4C6477;
$dark-background:	#28271F;

$deep-background:	#F79191;
$deeper-background:	#D67E7E;
$deep-color:		#F9F9E8;
$deeper-color:		#F25F5C;


* {
	box-sizing: border-box;
}


/*  general
	__________________________________________________________*/

body {
	position: absolute;
	min-width: 320px; /* iphone 5 */
}


/*  typography
	__________________________________________________________*/

* {
	font-family: 'Muli', sans-serif;
}

h1, h2 {
	font-family: 'Muli', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 35.2px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-family: 'Muli', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 33px;
}
p, textarea, input, .text, .wrap-dd-menu {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 27px;
	resize: none;
}
blockquote {
	font-family: 'Muli', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

textarea,
select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box; 
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px; 
}



/* 	angular
		Allow angular.js to be loaded in body, hiding cloaked elements until
		templates compile.  The !important is important given that there may be
		other selectors that are more specific or come later and might alter display.
	__________________________________________________________*/


[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}


/*	lists
	__________________________________________________________*/

ul {
	list-style: circle inside; 
}

ol {
	list-style: decimal inside; 
}

ol, ul {
	padding-left: 0;
	margin-top: 0; 
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%; 
}

li {
	margin-bottom: 1rem; 
	list-style: none;
}

.inline-list li {
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}



/*	layout overrides
	__________________________________________________________*/

#slideout-header {
	height: 60px !important;
	// https://codepen.io/sdthornton/pen/wBZdXq
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 1;
}
#slideout-inner {
	top: 60px;
}

#slideout-menu {
	background-color: $dark-background;
	color: $deep-color;																					
}

#main-content {
	width: 100%;
	padding: 30px 10px 30px 10px;
	background-color: $main-background;
	min-height: calc(100vh - 60px);
	color: $main-color;
}


/* 	sections
	__________________________________________________________*/

section {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

section.scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

section::after { /* clearfix - http://stackoverflow.com/questions/211383/what-methods-of-clearfix-can-i-use*/
    content:"";
    display:block;
    clear:both;
}


/*	buttons
	__________________________________________________________*/

.btn {
    transition: all ease 0.3s;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	padding: 1em;
    -webkit-border-radius:5px; /* Chrome & Safari */
       -moz-border-radius:5px; /* Firefox */
        -ms-border-radius:5px; /* IE */
         -o-border-radius:5px; /* Opera */
            border-radius:5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn:hover {
	/* inactive */
}

.btn {
	color: $deep-color;
	background-color: $main-background;
}

.btn.active {
	background-color: $deep-background;
}

.btn.active:hover {
	background-color: $deeper-background;
}


/* 	dotstyle (paging dots) coloring 
	(also see dotstyles.css)
	______________________________________________*/

.dotstyle li a {
	background-color: $deeper-color;
}

.dotstyle li.current a {
	background-color: $deeper-color;
}

.dotstyle li a:hover,
.dotstyle li a:focus {
	background-color: $deeper-color;
}




/* 	header
	______________________________________________*/

header {
	background-color: $main-color;
	color: $main-background;
	font-size: 0; // remove spaces between inline-block elements http://stackoverflow.com/questions/5078239/how-to-remove-the-space-between-inline-block-elements
	height: 100%;
	
	> * {
		font-size: 12pt;
	}
	
	> .left, > .right {
		// display: inline-block;
		white-space: nowrap;
		overflow: hidden;
	}

	> .left {
		float: left;
		padding: 10px 0 10px 10px;
	}

	> .right {
		float: right;
		padding: 10px 10px 10px 0;
	}

	* {
		margin-bottom: 0; // skeleton override
	}

	> .left .nav-toggle-button {
		padding: 0 10px;
		height: 40px;
		font-size: 20px;
		line-height: 40px; 
		text-align: center;
		vertical-align: middle;
		margin-bottom: 0; // skeleton override
	}

	.title {
		font-size: 16pt;
		color: #555;
	}

	@media (min-width: 450px) {
		.title {
			font-size: 24pt;
		}
	}

	#user-avatar {
		display: inline-block;
		width: auto;
		height: 40px;
		vertical-align: middle;
	}

	#user-options {
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;
		font-size: 12pt;
	}

	a {
		text-decoration: none;
		font-size: 12pt;
		cursor: pointer;
		color: $main-background;
		margin-right: 15px;
	}
}


/*	Toolbar
	______________________________________________*/

.toolbar {
	position: fixed;
	bottom: 20px;

}
.toolbar.right {
	right: 20px;
} 


/* 	utils
	______________________________________________*/

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}


/* 	forms
	______________________________________________*/

form input, form label, form textarea {
	width: 100%;
	margin-bottom: 1em;
}


/*  items
	______________________________________________*/

.items {

	width: 100%;
	white-space: normal;

	.item {
		display: inline-block;
		font-size: 0;
		padding: 0;
		#top {
			display: block;
			#left, #right {
				display: inline-block;
				vertical-align: top;
			}
		}
		#bottom {
			display: block;
		}
	}

	.item.example {

		margin: 10px;
		background-color: white;
		color: #4a4a4a;
		font-weight: bold;
		width: 300px;
		white-space: normal;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		#top {
			font-size: 0;

			#left {
				background-color: $main-background;
				margin: 10px;
				text-align: center;
				height: 100px;
				width: 100px;
				padding: 0;
				line-height: 100px;
				max-height: 100px;
				overflow: hidden;
				font-size: 30px;
			}

			#right {
				width: calc(100% - 120px);
				padding: 10px;
				font-size: 16pt;
				line-height: 16pt;
				max-height: calc (16px * 5);
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		#bottom {
			text-align: center;
			width: 100%;
			height: 30px;
			line-height: 30px;
			max-height: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 20px;
			white-space: nowrap;
		}
	}

	@media (max-width: 340px) {
		.item.example {
			width: 100%;
		}
	}
}


/*  object view
	______________________________________________*/

.object-view {
	.card {
		overflow: hidden;
	}
}


/*  action button
	______________________________________________*/

.action-button {
	background-color: $deeper-background;
	color: $deep-color;
	line-height: 50px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width:50px;
	height:50px;
	text-align:center;
	border-radius: 25px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.action-button:hover {
	background-color: $deep-background;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/*  action button
	______________________________________________*/

.circle {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 10%);
}

