
.modal-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 19999;
}

.modal {
	background-color: white;
	position: fixed;
	width: 80%;
	height: 80vh;
	color: #4a4a4a;
	min-width: 280px;
	z-index: 20000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.modal-header, .modal-footer {
	position: absolute;
	margin: 20px;
	left: 0;
	right: 0;
	height: 60px;
	overflow: hidden;
}

.modal-header {
	top: 0;
}

.modal-footer {
	bottom: 0;
}

.modal-content {
	position: absolute;
	margin: 20px;
	top: 80px;
	bottom: 80px;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-close {
	transition: all ease 0.3s;
	top: 20px;
	right: 20px;
	font-size: 20px;
	position: absolute;
	cursor: pointer;
	color: #777;
}

.modal-close:hover {
	color: #333;
}


