<section>

	<textarea style="resize: none;" ng-model="msg"></textarea>	
	<div ng-if="msg.length">
		<div class="btn active" ng-click="send(msg)">Send</div>
	</div>
	<div ng-if="response">Server Responds: {{response}}</div>

</section>
