<header>
	<div class="left">
		<div class="btn active nav-toggle-button" ng-controller="SlideoutCtrl" ng-click="toggle()">☰<span class="state-title"> {{title}}</span></div>

	</div>
	<div class="right">
		<!-- e.g
		<span id="user-options">
			<select ng-options="option.text for option in [{text:'option a',value:'a'}]"
				ng-model="selectedOption" ng-change="select(selectedOption)" ><option value="" disabled selected>User?</option></select>	
		</span>
		s -->
  		<a ng-click="select({value:'logout'})">log out</a>
		<img class="circle" id="user-avatar" src="images/unknown.png">
	</div>
</header>
